<form method="get" action="/quizes/answer">
	<p>Pregunta: <br/>¿<%= pregunta %>?</p
	<br/>
	<input type="text" name="respuesta" value="Responda aqui"/>
	<input type="submit" value="Enviar"/>
</form>

